<nav class="navbar justify-content-between" >
  <a class="navbar-brand" href="#">Aphrie Task</a>
  
  <ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Portfolio</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Team</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Contact Us</a>
</li>
</ul>
</nav>
<!--------------------------------------------------------------------------------------------------->
<div class="Home">
  <div class="left">
  <h1> we provide  <br><br> <span>solutions</span> <br> <br>for your business!</h1>
   <br>
   <button mat-raised-button>Get  Started</button>
   <button mat-stroked-button> Our Services</button>
  </div>

  <img src="../assets/intro-img.svg"width="50%" height="70%">
</div>
<!--------------------------------------------------------------------------------------------------->

<router-outlet></router-outlet>
