<div class="p1">
    <img src="../../assets/about-extra-1.svg" width="45%" height="40%" >

    <h2>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda. </h2>

    <p>Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea. Quas molestiae perspiciatis occaecati 
        qui rerum. Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at et a. </p>

    <br>  <br> 

    <p>Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea corporis deserunt veritatis quidem expedita
        perferendis. Qui rerum eligendi ex doloribus quia sit. Porro rerum eum eum. 
    </p>

</div>
<br>
<div class="p2">
    <div class="words">
        <h2>Neque saepe ternporibus repellat ea ipsum et. Id vel et quia tempora facere reprehenderit. </h2>
        <p>Delectus alias ut incidunt delectus nam placeat in consequatur. Sed cupiditate quia ea quis. Voluptas nemo qui aut distinctio. 
            Cumque fugit earum est quam officiis numquam. Ducimus corporis autem at blanditiis beatae incidunt sunt. </p>
            <br> <br>
        <p>Voluptas saepe natus quidem blanditlis. Non sunt impedit voluptas mollitia beatae. Qui esse molestias. Laudantium libero nisi vitae debitis.
            Dolorem cupiditate est perferendis iusto. </p>
            <br> <br>
            <p>Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint quia modi. Numquam est aut 
                fuga mollitia exercitationem nam accusantium provident quia. </p>
    </div>
    <img src="../../assets/about-extra-2.svg" width="40%" height="30%" >
  
</div>
